html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

.wrapper1 .header_wrap {
    z-index: 4;
}

.menu-hovered .wrapper1 .header_wrap {
    z-index: auto;
}

.menu-hovered .wrapper1 .header_wrap #header {
    position: relative;
    z-index: 1060;
    /*background:#fff;*/
}

.wrapper1 .header_wrap.zindexed {
    z-index: 3000;
}

.header_wrap.colored .top-h-row .menu li a,
.stores .stores_list .item .store_text .value,
#footer .copyright,
#footer .copyright *,
.footer_bottom .all_menu_block ul li a {
    color: #545454;
}

.header_wrap.colored .main-nav ul.menu>li>a {
    color: #fff;
}

.light-menu-color.header_wrap .logo-row .basket-link .js-basket-block .count {
    background: #fff;
    color: #000;
}

.header_wrap #header .catalog_menu ul.menu>li.catalog {
    width: 220px;
}

.header_wrap #header .catalog_menu ul.menu>li>a,
.header_wrap #header .catalog_menu ul.menu.adaptive>li .text {
    color: #fff;
    border: 0px !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.header_wrap #header .catalog_menu ul.menu.adaptive>li {
    height: 47px;
    line-height: 47px;
    position: relative;
}

.header_wrap #header .catalog_menu ul.menu.adaptive>li:after {
    position: absolute;
    top: 12px;
    right: 17px;
    content: "";
    display: block !important;
    width: 20px;
    height: 20px;
    background: url('/bitrix/templates/aspro_max/images/ai.png') 0px 0px no-repeat;
}

.header_wrap #header .catalog_menu.menu_colored .inc_menu ul.menu>li:not(.current):hover>a {
    background: #3385e5;
}

.header_wrap #header {
    padding: 0px !important;
    margin: -1px 0px 0px !important;
}

#header {
    margin: -1px 0px 7px;
    padding: 16px 0px 18px;
    z-index: 100;
    right: 0;
    left: 0;
}

header, nav, section, article, aside, footer {
    display: block;
}

.fancybox-title, body, body .ymaps-map .ymaps-b-balloon, body div.bx-yandex-map {
    font: 15px/25px Montserrat, Arial, sans-serif;
}

.logo_and_menu-row {
    position: relative;
    z-index: 12;
}

.wrapper_inner.wide_page .product-view--type2 .product-info, body .maxwidth-theme, body .wrapper_inner {
    max-width: 1408px;
}

header .maxwidth-theme {
    background: none;
}

.wrapper_inner, .maxwidth-theme {
    padding: 0px 30px;
    margin: 0 auto;
    background: #fff;
    float: none;
}

.row {
    margin-left: -16px;
}

@media (min-width: 992px){
.col-md-12 {
    width: 100%;
}
}

.col-lg-1, .col-lg-10, 
.col-lg-11, .col-lg-12, 
.col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-md-1, 
.col-md-10, .col-md-11, .col-md-12, 
.col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, 
.col-md-8, .col-md-9, .col-sm-1, 
.col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, 
.col-sm-8, .col-sm-9, .col-xs-1, 
.col-xs-10, .col-xs-11, .col-xs-12, 
.col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, 
.col-xs-8, .col-xs-9 {
    /* position: relative; */
    /* min-height: 1px; */
    padding-left: 16px;
    padding-right: 16px;
}

.paddings .logo-block {
    padding-right: 30px;
}

.pull-left {
    float: left !important;
}

.logo-row .logo {
    display: inline-block;
    position: relative;
    height: 82px;
    max-width: 190px;
    line-height: 84px;
    z-index: 10;
}

a {
    color: #1a70d5;
}

a {
    color: #ccc;
    text-decoration: none;
}

.logo-row .logo img, .logo-row .logo svg {
    max-height: 100%;
    max-width: 100%;
}

img {
    border: 0;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.logo_and_menu-row .search_wrap {
    opacity: 0;
    visibility: hidden;
    padding-right: 62px;
    width: 1px;
}

.pull-left {
    float: left !important;
}

.logo_and_menu-row .inner-table-block {
    height: 82px;
}

.logo_and_menu-row .search-block {
    height: 82px;
    padding-top: 20px;
    display: table;
    width: 100%;
}

.inner-table-block {
    display: table-cell;
    vertical-align: middle;
}

.logo_and_menu-row .search-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 82px;
    width: 100vw;
}

.menu-row {
    position: static;
}

.wrapper_inner.wide_page 
.product-view--type2 
.product-info, body 
.maxwidth-theme, body .wrapper_inner {
    max-width: 1408px;
}

.wrapper_inner, .maxwidth-theme {
    padding: 0px 30px;
    margin: 0 auto;
    background: #fff;
    float: none;
}

.menu-row.middle-block>.maxwidth-theme>.row {
    margin: 0;
}

.menu-row.middle-block>.maxwidth-theme>.row>.col-md-12 {
    padding: 0;
}

@media (min-width: 992px){
.col-md-12 {
    width: 100%;
}
}

.menu-row.middle-block
.bglight:not(.bg_none) 
.menu-only {
    border-top: 1px solid #f2f2f2;
}

.menu-row .menu-only {
    position: static;
}

.logo_and_menu-row 
.logo-row .menu-row .mega-menu {
    height: 100px;
}

.menu-row .menu-only .mega-menu {
    position: static;
}

.mega-menu {
    position: relative;
    z-index: 10;
}

.mega-menu table {
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 100%; */
    max-width: 100%;
}

table {
    max-width: 100%;
    background-color: transparent;
}

.menu-row .menu-only 
.mega-menu table td {
    position: static;
}

.menu-row .mega-menu table td:first-child {
    border-radius: 3px 0 0 3px;
}

.mega-menu table td {
    padding: 0;
    text-align: center;
    position: relative;
}

.mega-menu table td.dropdown>.wrap {
    position: relative;
}

.menu-row.middle-block .mega-menu table td .wrap>a {
    padding: 18px 18px 25px;
    height: 53px;
    line-height: 1.33em;
    letter-spacing: 1.2px;
}

.mega-menu table td .wrap>a {
    border: none;
    font-weight: 700;
    padding: 38px 12px 41px;
    text-transform: none;
    width: auto;
    display: inline-block;
    font-size: .867em;
    position: relative;
    color: #222;
    height: 100px;
    text-transform: uppercase;
}

.auth_wr_inner .dropdown-menu li a, 
.mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-toggle {
    background-image: linear-gradient( to right, #088b4a, #088b4a 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.menu-row.middle-block 
.mega-menu table td .wrap>a>div {
    display: inline-block;
}

.menu-row.middle-block .mega-menu table td .wrap>a {
    padding: 18px 18px 25px;
    height: 53px;
    line-height: 1.33em;
    letter-spacing: 1.2px;
}

.mega-menu table td .wrap>a {
    border: none;
    font-weight: 700;
    padding: 38px 12px 41px;
    text-transform: none;
    width: auto;
    display: inline-block;
    font-size: .867em;
    position: relative;
    color: #222;
    height: 100px;
    text-transform: uppercase;
}

.auth_wr_inner .dropdown-menu li a, .mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.mega-menu table .tail {
    display: none;
}

.mega-menu table .dropdown-menu {
    border-radius: 0 0 3px 3px;
    border: none;
    margin: 0;
    top: auto;
    padding: 0;
    text-align: left;
    opacity: 0;
    background-clip: border-box;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}

ul {
    padding: 0;
    margin: 26px 0 36px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.dropdown-menu li, .mega-menu table 
.dropdown-submenu {
    position: relative;
    padding: 0;
    margin: 0;
}

ul>li {
    margin: 8px 0 0 21px;
    list-style-type: none;
    position: relative;
}

.auth_wr_inner .dropdown-menu li a, 
.mega-menu table .dropdown-menu li a {
    color: #222;
    padding: 14px 29px 14px 7px !important;
    background: 0 0;
}

.auth_wr_inner .dropdown-menu li a, .mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.mega-menu table td:not(.wide_menu) 
.dropdown-menu li>a .name {
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-row .menu-only 
.mega-menu table td {
    position: static;
}

.mega-menu table td {
    padding: 0;
    text-align: center;
    position: relative;
}

.menu-row.middle-block 
.mega-menu table td .wrap>a {
    display: block;
}

.menu-row.middle-block 
.mega-menu table td .wrap>a {
    padding: 18px 18px 25px;
    height: 53px;
    line-height: 1.33em;
    letter-spacing: 1.2px;
}

.mega-menu table td .wrap>a {
    border: none;
    font-weight: 700;
    padding: 38px 12px 41px;
    text-transform: none;
    width: auto;
    display: inline-block;
    font-size: .867em;
    position: relative;
    color: #222;
    height: 100px;
    text-transform: uppercase;
}

.auth_wr_inner .dropdown-menu li a, 
.mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-toggle {
    background-image: linear-gradient( to right, #088b4a, #088b4a 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.menu-row.middle-block 
.mega-menu table td .wrap>a>div {
    display: inline-block;
}

.menu-row.middle-block .mega-menu table td .wrap>a {
    padding: 18px 18px 25px;
    height: 53px;
    line-height: 1.33em;
    letter-spacing: 1.2px;
}

.auth_wr_inner .dropdown-menu li a, .mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.menu-row .menu-only .mega-menu table td {
    position: static;
}

.mega-menu table td {
    padding: 0;
    text-align: center;
    position: relative;
}

.menu-row.middle-block .mega-menu table td .wrap>a {
    display: block;
}

.menu-row.middle-block .mega-menu table td .wrap>a {
    padding: 18px 18px 25px;
    height: 53px;
    line-height: 1.33em;
    letter-spacing: 1.2px;
}

.mega-menu table td .wrap>a {
    border: none;
    font-weight: 700;
    padding: 38px 12px 41px;
    text-transform: none;
    width: auto;
    display: inline-block;
    font-size: .867em;
    position: relative;
    color: #222;
    height: 100px;
    text-transform: uppercase;
}

.auth_wr_inner .dropdown-menu li a, .mega-menu table a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.pull-right {
    float: right !important;
}

.logo_and_menu-row .wrap_icon.person {
    padding-right: 0px;
    padding-left: 50px;
}

.logo_and_menu-row .inner-table-block {
    height: 82px;
}

.logo_and_menu-row .wrap_icon {
    display: table-cell;
    padding: 0px 0px;
    height: 82px;
    vertical-align: middle;
}

.auth_wr_inner {
    position: relative;
}

.logo_and_menu-row .personal-link {
    display: block;
    margin-top: 8px;
}

.dark-color:not(.active), 
.colored:hover {
    color: #333;
}

.logo_and_menu-row 
.inner-table-block {
    height: 82px;
}

.logo_and_menu-row .wrap_icon {
    display: table-cell;
    padding: 0px 0px;
    height: 82px;
    vertical-align: middle;
}

.logo_and_menu-row 
.phone-block.blocks {
    line-height: 18px;
    margin: 4px 0px 0px 0px;
}

.logo_and_menu-row .phone {
    position: relative;
    margin: 3px 0px 0px;
    font-size: 1.0666em;
    font-weight: bold;
    display: inline-block;
}

.with_dropdown {
    position: relative;
    padding-right: 14px !important;
}

.logo-row .wrap_icon .svg, .basket-link .svg {
    opacity: 0.5;
}

.svg {
    top: -1px;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: auto;
    min-height: auto;
}

.svg svg {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

.logo_and_menu-row .phone a {
    color: #222;
    white-space: nowrap;
}

.with_dropdown 
.dropdown>.wrap.srollbar-custom {
    max-height: 500px;
}

.with_dropdown .dropdown>.wrap {
    background: #FFF;
    -webkit-box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 3px;
    overflow: auto;
}

.phone .more_phone:first-of-type {
    border-top: none;
}

.phone .more_phone {
    line-height: 1em;
    border-top: 1px solid #f2f2f2;
    position: relative;
}

.phone.with_dropdown>.dropdown.with_icons .more_phone a {
    padding-left: 43px;
}

.logo_and_menu-row .phone a {
    color: #222;
    white-space: nowrap;
}

.phone .more_phone a {
    padding: 18px 22px 18px;
    display: block;
    white-space: nowrap;
}

.phone .more_phone a .icon {
    position: absolute;
    left: 18px;
    top: 18px;
    font-size: 0;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_and_menu-row .phone a {
    color: #222;
    white-space: nowrap;
}

.phone .more_phone a span:not(.icon) {
    display: block;
    font-size: .8em;
    font-weight: 400;
    padding-top: 6px;
    color: #999;
    white-space: normal;
}

.logo_and_menu-row .phone a {
    color: #222;
    white-space: nowrap;
}

body .logo-row .phone 
.svg-inline-down {
    opacity: 1;
}

.with_dropdown .svg-inline-down {
    position: absolute;
    right: 3px;
    top: 50%;
    margin: -2px 0px 0px;
    width: 5px;
    height: 3px;
    display: block;
}

.svg {
    top: -1px;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: auto;
    min-height: auto;
}

.svg svg {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

svg .cccls-1, svg 
.cls-1, svg .cls-2, svg 
.nspcls-1, svg .sscls-1, svg 
.sscls-2 {
    fill: #333;
    fill-rule: evenodd;
}





